<h1>List of all restaurants</h1>

<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
    <% @restaurants.each do |r| %>
    <tr>
      <td><%= link_to r.name, restaurant_path(r) %></td>
      <td><%= r.address %></td>
      <td><%= r.category %></td>
      <td><%= r.phone_number %></td>
      <td><%= link_to '<i class="far fa-comment-dots"></i>'.html_safe, new_restaurant_review_path(r) %></td>
    </tr>
    <% end %>

  </table>
</div>

<dir>
  <%= link_to 'Add a new restaurant', new_restaurant_path %>
</dir>
